@import url("http://fonts.cdnfonts.com/css/gelion");

@font-face {
  font-family: "Gelion";
  src: local("Gelion"),
    url(./fonts/gelion/Gelion-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gelion";
  font-weight: 500;
  src: local("Gelion"), url(./fonts/gelion/Gelion-Bold.ttf) format("truetype");
}

.app {
  display: grid;
  grid-template-columns: [nav-start] 262px [nav-end main-start] 1fr [main-end];
  grid-template-rows: 100vh;
}

.nav,
.main {
  grid-row: 1 / -1;
}

.nav {
  grid-column: nav-start / nav-end;
  border-right: 1px solid #ecebf5;
}

.main {
  grid-column: main-start / main-end;
  overflow-x: hidden;
  width: 100%;
}
