body {
  margin: 0;
  font-family: 'Gelion', sans-serif;
  font-style: normal;
                                                
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gelion', sans-serif;                                             
}
