body {
  margin: 0;
  font-family: 'Gelion', sans-serif;
  font-style: normal;
                                                
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gelion', sans-serif;                                             
}

@font-face {
  font-family: "Gelion";
  src: local("Gelion"),
    url(./fonts/gelion/Gelion-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gelion";
  font-weight: 500;
  src: local("Gelion"), url(./fonts/gelion/Gelion-Bold.ttf) format("truetype");
}
